@import "tailwindcss";


:root {
  --background: #1B1A1D;
  --foreground: #ffffff;
  --text-colour: #1D1D1F;
  --muted: #ffffff89;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-figtree);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-figtree), sans-serif;
}